/* Corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/static/images/bg.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff; /* Cor do texto */
}

/* Cabeçalho */
header {
    background-color: #333; /* Fundo escuro */
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra no cabeçalho */
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Títulos */
h2 {
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #13192E; /* Fundo escuro da tabela */
    border-radius: 10px;
    overflow: hidden; /* Bordas arredondadas */
}

table th {
    background-color: #242F51; /* Fundo do cabeçalho da tabela */
    color: #FFF;
    text-transform: uppercase; /* Letras maiúsculas */
    padding: 15px;
    text-align: left;
}

table td {
    padding: 15px;
    color: #E0E0E0; /* Texto claro */
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #1A2240; /* Fundo alternado */
}

table tr:hover {
    background-color: #3A4568; /* Realce ao passar o mouse */
}

/* Botões */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    transform: scale(1.05); /* Efeito de aumento */
}

/* Botões específicos */
button.approve-btn {
    background-color: #008CBA; /* Azul para confirmação */
    color: white;
}

button.approve-btn:hover {
    background-color: #007BAA; /* Azul escuro ao passar o mouse */
}

button.reject-btn {
    background-color: #F44336; /* Vermelho para rejeição */
    color: white;
}

button.reject-btn:hover {
    background-color: #D32F2F; /* Vermelho escuro ao passar o mouse */
}

/* Botão de Aposta */
button.bet-btn {
    background-color: #4CAF50; /* Verde para apostar */
    color: white;
    margin-top: 10px;
}

button.bet-btn:hover {
    background-color: #45A049; /* Verde mais escuro */
}

/* Navegação */
nav.menustrip {
    background-color: #333;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

nav.menustrip ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav.menustrip ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease;
}

nav.menustrip ul li a:hover {
    background-color: #4B5A8A;
}
