<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/area_usuario.css">

    <title>Home</title>

</head>

<body>
    <!-- Menu Lateral -->
    <div id="sideMenu" class="side-menu">
        <a href="javascript:void(0)" class="close-btn" onclick="closeMenu()">&times;</a>
        <ul>
            <li>
                <img src="/static/images/icon_evento.png" alt="Novo Evento" class="icon">
                <a href="{{ url_for('criar_evento') }}">Novo Evento</a>
            </li>
            <li>
                <img src="/static/images/icon_carteira.png" alt="Carteira" class="icon">
                <a href="{{ url_for('gerenciar_carteira') }}">Carteira</a>
            </li>
        </ul>
    </div>

    <!-- Cabeçalho -->
    <header class="main-header">
        <div>
            <img class="logo" src="/static/images/logo.png" alt="Logo" onclick="openMenu()">
        </div>
    </header>

    <!-- Barra de Pesquisa -->
    <div class="search-bar">
        <form action="{{ url_for('pesquisar_evento') }}" method="GET" target="_blank">
            <input type="text" name="query" placeholder="Buscar eventos..." required>
            <button class="search-button">Buscar</button>
        </form>
    </div>
    <br>
    <br>
    <!-- Menu -->
    <nav>
        <div class="menu">
            <ul>
                <li>
                    <a href="{{ url_for('pesquisar_evento') }}?categoria=2"><img class="categoria" src="/static/images/futebol.png" alt="Futebol"></a>
                    <a href="{{ url_for('pesquisar_evento') }}?categoria=3"><img class="categoria" src="/static/images/eleicoes.png" alt="Eleições"></a>
                    <a href="{{ url_for('pesquisar_evento') }}?categoria=4"><img class="categoria" src="/static/images/bolsaDeValores.png" alt="Bolsa de Valores"></a>
                    <a href="{{ url_for('pesquisar_evento') }}?categoria=1"><img class="categoria" src="/static/images/olimpiadas.png" alt="Olimpíadas"></a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Conteúdo Principal -->
    <main>
        <section class="main">
            <div class="banner">
                <img class="baner" src="/static/images/banner.png" alt="Banner">
            </div>
        </section>

        <section class="actions">
            <div class="betting-section">
                <div class="bet-button">
                   
                    <div class="section">
                        <h2>Último Dia para Apostar</h2>
                        <div class="eventos-container">
                            {% for evento in eventos_finalizando %}
                                <div class="evento-card">
                                    <h3>{{ evento[1] }}</h3>
                                    <p>{{ evento[2] }}</p>
                                    <p>Data do Evento: {{ evento[4] }}</p>
                                    <p>Período de Apostas: {{ evento[5] }} até {{ evento[6] }}</p>
                                    <p>Valor da Cota: R$ {{ '{:.2f}'.format(evento[3]) }}</p>
                
                                    <!-- Botões para abrir o modal com aposta "Sim" ou "Não" -->
                                    <button onclick="openModal('{{ evento[0] }}', '{{ evento[1] }}', 'sim')">Apostar Sim</button>
                                    <button onclick="openModal('{{ evento[0] }}', '{{ evento[1] }}', 'nao')">Apostar Não</button>
                                </div>
                            {% else %}
                                <p>Nenhum evento disponível.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="create-bet">
                     <div class="section">
        <h2>Eventos Mais Apostados</h2>
        <div class="eventos-container">
            {% for evento in eventos_mais_apostados %}
                <div class="evento-card">
                    <h3>{{ evento[1] }}</h3>
                    <p>{{ evento[2] }}</p>
                    <p>Data do Evento: {{ evento[4] }}</p>
                    <p>Período de Apostas: {{ evento[5] }} até {{ evento[6] }}</p>
                    <p>Total Apostado: R$ {{ '{:.2f}'.format(evento[-1] or 0) }}</p>
                    <p>Valor da Cota: R$ {{ '{:.2f}'.format(evento[3]) }}</p>

                    <button onclick="openModal('{{ evento[0] }}', '{{ evento[1] }}', 'sim')">Apostar Sim</button>
                    <button onclick="openModal('{{ evento[0] }}', '{{ evento[1] }}', 'nao')">Apostar Não</button>
                </div>
            {% else %}
                <p>Nenhum evento disponível.</p>
            {% endfor %}
        </div>
    </div>
                </div>
                <div class="create-bet">
                    
                    <h2>Eventos Disponíveis</h2>
                    <div class="eventos-container">
                        {% if eventos %}
                            {% for evento in eventos %}
                            <div class="evento-card">
                                <h3>{{ evento[1] }}</h3>
                                <p>{{ evento[2] }}</p>
                                <p>Data do Evento: {{ evento[4] }}</p>
                                <p>Período de Apostas: {{ evento[5] }} até {{ evento[6] }}</p>
                                <p>Total Apostado: R$ {{ '{:.2f}'.format(evento[-1] or 0) }}</p>
                                <p>Valor da Cota: R$ {{ '{:.2f}'.format(evento[3]) }}</p>
                                    <!-- Outros detalhes do evento -->
                                    <button onclick="openModal('{{ evento[0] }}', '{{ evento[1] }}', 'sim')">Apostar Sim</button>
                                    <button onclick="openModal('{{ evento[0] }}', '{{ evento[1] }}', 'nao')">Apostar Não</button>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>Não há eventos disponíveis no momento.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    

    <!-- Seção de Destaques: Eventos Mais Apostados -->


    
    <!-- Área de eventos disponíveis -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
     
    <!-- Rodapé -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-logo">
                <h2>WinBet</h2>
                <ul class="social-media">
                    <li><a href="#"><img src="/static/images/logoInsta.png" alt="Instagram">@empresaMtFoda</a></li>
                    <li><a href="#"><img src="/static/images/logoFaceBook.png" alt="Facebook">EmpresaMtFoda</a></li>
                    <li><a href="#"><img src="/static/images/logoTwitter.png" alt="Twitter">@empresaMtFodaOfc</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Entre em contato</h3>
                <ul>
                    <li>Email: <a href="mailto:suporteMtFoda@gmail.com">suporteMtFoda@gmail.com</a></li>
                    <li>Telefone: <a href="tel:+554500000000">+55 (45) 0000-000</a></li>
                    <li>Email Legal: <a href="mailto:problemasLegais@gmail.com">problemasLegais@gmail.com</a></li>
                    <li>Reclamações: <a href="mailto:seuDinheiroENosso@gmail.com">seuDinheiroENosso@gmail.com</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h3>Links úteis</h3>
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Dúvidas frequentes</a></li>
                    <li><a href="#">Central de apoio</a></li>
                    <li><a href="#">Questões legais</a></li>
                </ul>
            </div>
        </div>   
    </footer>

    <script src="/static/js/area_usuario.js"></script>
</body>

</html>
