<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Cadastro</title>
    <!-- Link para o arquivo de estilo CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Contêiner principal da tela de cadastro -->
    <div class="register-container">
        <!-- Seção da logo -->
        <div class="logo">
            <!-- Imagem da logo -->
            <img src="/static/images/logo.png" alt="Logo">
        </div>
        <!-- Formulário de cadastro -->
        <form id="registerForm" method="POST" action="/cadastro">
            <!-- Mensagem de boas-vindas -->
            <h2>Bem-vindo!</h2>
            
            <!-- Campo para o nome completo -->
            <div class="input-container">
                <input type="text" name="nome" placeholder="Nome completo" required>
            </div>
            <!-- Campo para o e-mail -->
            <div class="input-container">
                <input type="email" name="email" placeholder="E-mail" required>
            </div>
            <!-- Campo para a data de nascimento -->
            <div class="input-container">
                <input type="date" name="data_nascimento" placeholder="Data de nascimento" required>
            </div>
            <!-- Campo para a senha -->
            <div class="input-container">
                <input type="password" name="senha" placeholder="Senha" required>
            </div>
            <!-- Campo para confirmar a senha -->
            <div class="input-container">
                <input type="password" name="confirmar_senha" placeholder="Confirmar senha" required>
            </div>
            <!-- Botão para submeter o formulário -->
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <!-- Link para o arquivo JavaScript -->
    <script src="/static/js/main.js"></script>
</body>
</html>
