<!-- templates/criar_evento.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/criar_evento.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="menu-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>        
            <h1>Criar um novo evento</h1>
        </div>
        <form method="POST" action="{{ url_for('criar_evento') }}">
            <div class="form-group">
                <label for="titulo"></label>
                <input type="text" id="titulo" name="titulo" maxlength="50" placeholder="Título:" required>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" maxlength="150" required></textarea>
            </div>

            <div class="form-group">
                <label for="valor_cota">Valor da cota:</label>
                <input type="number" step="0.01" id="valor_cota" name="valor_cota" min="1.00" required>
            </div>

            <div class="form-group">
                <label for="periodo_apostas">Período das apostas:</label>
                <div class="input-inline">
                    <input type="date" id="data_inicio" name="data_inicio" required>
                    até
                    <input type="date" id="data_fim" name="data_fim" required>
                </div>
            </div>

            <div class="form-group">
                <label for="data_evento">Data do evento:</label>
                <input type="date" id="data_evento" name="data_evento" required>
            </div>

            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria" required>
                    <option value="">Selecione...</option>
                    <!-- Adicione opções de categoria aqui -->
                </select>
            </div>

            <button type="submit" class="btn-submit">Criar evento</button>
        </form>
    </div>
</body>

</html>
