<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira</title>
</head>
<body>
    <h1>Minha Carteira</h1>
    
    <!-- Formulário para saque e ver saldo -->
    <form action="/gerenciar_carteira" method="POST">
        <label for="id_usuario">Id usuário: </label>
        <input type="number" id="id_usuario" name="id_usuario" required>
        <button type="submit" name="botao" value="ver_saldo">Ver saldo</button>
        <p>Disponível para saque: </p>
        <p>R$ {{ valor }}</p>
        
        <p>Taxas aplicadas ao saque: {{taxa_str}} </p>

        <button type="submit" name="botao" value="sacar">Sacar</button>
        <p>Novo saldo: </p>
        <p>R$ {{ saldo }}</p>
    
        <p>Formas de pagamento disponíveis</p>
        <ul>
            <li>Cartão de crédito ou débito</li>
        </ul>

        <!-- Botão para abrir o pop-up de adicionar créditos -->
        <button type="button" class="btn-adicionar-creditos">Adicionar créditos</button>

        <!-- Pop-up e Overlay -->
        <div id="popup-overlay" style="display: none;"></div>
        <div id="popup" style="display: none;">
            <button class="btn-close">Fechar</button>
            <form method="POST" action="/gerenciar_carteira">
                <label for="quantidade">Quantidade a ser adicionada R$: </label>
                <input type="number" id="quantidade" name="quantidade" required>
                <label for="numero_cartao">Número do cartão: </label>
                <input type="text" id="numero_cartao" name="numero_cartao" required>
                <label for="data_validade">Data de validade: </label>
                <input type="date" id="data_validade" name="data_validade" required>
                <label for="cvv">CVV: </label>
                <input type="number" id="cvv" name="cvv" required>
                <input type="hidden" name="id_usuario" value="{{ id_usuario }}">
                <button type="submit" name="btn-adicionar" value="btn-adicionar">Confirmar</button>
            </form>
        </div>
    </form>

    <!-- Incluindo o JavaScript -->
    <script src="{{ url_for('static', filename='js/carteira.js') }}"></script>

</body>
</html>
