<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">-->
</head>
<body>
    <h1>Minha Carteira</h1>
    
    <!-- Formulário para selecionar o ID do usuário e ver o saldo -->
    <form action="/ver_saldo" method="POST">
        <label for="id_usuario">Id usuário: </label>
        <input type="number" id="id_usuario" name="id_usuario" required>
        <button type="submit" name="action" value="ver_saldo">Ver saldo</button>
        <p>Disponível para saque: </p>
        <p>R$ {{ valor }}</p>
    </form>

    <!-- Formulário para sacar -->
    <form action="/sacar" method="POST">
        <!-- Campo hidden para enviar o id_usuario -->
        <label for="id_usuario">Id usuário: </label>
        <input type="number" id="id_usuario" name="id_usuario1" required>
        <label for="valor_saque">Valor do saque R$: </label>
        <input type="number" id="valor_saque" name="valor_saque" step="0.01" required>
        <button type="submit" name="btn-sacar" value="btn-sacar">Sacar</button>
        <p>Taxas aplicadas ao saque: {{taxa_str}} - {{taxa}} </p>
        <p>Novo saldo: R$ {{ saldo }}</p>
    </form>
    
    <p>Formas de pagamento disponíveis</p>
    <ul>
        <li>Cartão de crédito ou débito</li>
    </ul>

    <!-- Botão para abrir o pop-up de adicionar créditos -->
    <button type="button" class="btn-adicionar-creditos">Adicionar créditos</button>

    <!-- Pop-up e Overlay -->
    <div id="popup-overlay" style="display: none;"></div>
    <div id="popup" style="display: none;">
        <button class="btn-close">Fechar</button>
        
        <!-- Formulário para adicionar créditos -->
        <form action="/adicionar" method="POST">
            <label for="id_usuario">Id usuário: </label>
            <input type="number" id="id_usuario" name="id_usuario2" required>
            <label for="numero_cartao">Numero do cartão: </label>
            <input type="text" id="numero_cartao" name="numero_cartao" required>
            <label for="data_validade">Data de validade </label>
            <input type="date" id="data_validade" name="data_validade" required>
            <label for="CVV">CVV: </label>
            <input type="number" id="CVV" name="CVV" required>
            <label for="CPF">CPF do titular: </label>
            <input type="text" id="CPF" name="CPF" required>
            <label for="valor_adicionar">Valor a ser adicionado R$: </label>
            <input type="number" id="valor_adicionar" name="valor_adicionar" step="0.01" required>
            <button type="submit" name="btn-adicionar" value="btn-adicionar">Confirmar</button>
        </form>
    </div>
    

    <!-- Incluindo o JavaScript -->
    <script src="{{ url_for('static', filename='js/carteira.js') }}"></script>

</body>
</html>
