<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <!-- Substitua 'logo.png' pelo caminho da sua imagem -->
            <img src="static/images/logo.png" alt="Logo">
        </div>
        <form>
            <div class="input-container">
                <input type="text" placeholder="Usuário" required>
            </div>
            <div class="input-container">
                <input type="password" placeholder="Senha" required>
            </div>
            <button type="button">Entrar</button>
        </form>
        <div class="signup-link">
            <a href="templates/cadastro.html">Novo aqui? Crie uma conta</a>
        </div>
    </div>
    <script src="static/js/main.js"></script>
</body>
</html>
